/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=UnifrakturCook:wght@700&display=swap');

/* CSS Variables */
:root {
    /* Background Core Colors */
    --background-primary-color: #DFE2E2;
    --background-secondary-color: #FAFAFA;
    --background-tertiary-color: #F3F4F6;
    --border-color: #EDEAEA;
    
    /* Text Core Colors */
    --text-primary-color: #141414;
    --text-secondary-color: #6B7280;
    
    /* Text Fonts */
    --primary-font-family: 'UnifrakturCook', cursive;
    --secondary-font-family: 'Open Sans', sans-serif;

    /* Accent Colors */
    --accent-color-primary: #700A0A;
    --accent-color-secondary: #32236C;
    --info-link-color: #232E21;
    --info-link-hover-color: #32533D;
}

/* Navbar */
#logo img {
    width: 50px;
    height: 50px;
}

#main-nav a{
    color: var(--text-primary-color);
}

#main-nav a:hover{
    color: var(--accent-color-secondary);
    text-decoration: underline;
}

#main-nav .main-button{
    background-color: var(--accent-color-primary);
    color: var(--background-primary-color);
    margin-left: .5rem;
    font-family: var(--primary-font-family);
}

#main-nav .main-button:hover {
    background-color: var(--accent-color-secondary);
}

/* Global styles */
h1, h2, h3 {
    font-family: var(--primary-font-family);
    color: var(--accent-color-primary);
}

body {
    font-family: var(--secondary-font-family);
    background-color: var(--background-secondary-color);
    color: var(--text-primary-color);
    margin: 0;
    padding: 0;
}

/* Hero section */
#hero {
    background: var(--background-primary-color) url(../images/home-hero.png) no-repeat center center;
    background-size: cover;
    padding: 2rem;
    height: 75vh;
}

#hero h1 {
    text-align: center;
    margin: 0 auto;
    padding-top: 5rem;
    color: var(--accent-color-primary);
    font-size: 3rem;
}

#hero p {
    align-content: center;
    margin: 0 auto;
    text-align: center;
    color: whitesmoke;
}

#hero .main-button{
    background-color: var(--accent-color-primary);
    color: var(--background-primary-color);
    margin-left: .5rem;
    font-family: var(--primary-font-family);
    margin-top: 30px;
    padding: .75rem 2rem;
}

#hero .main-button:hover {
    background-color: var(--accent-color-secondary);
}

/* Rooms section */
#rooms h1{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#rooms .room {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 2rem;
}

#rooms .room:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(112, 10, 10, 0.2);
}
#rooms .room h2 {
    margin-top: 0;
    color: var(--accent-color-primary);
    transition: text-shadow 0.3s;
}

#rooms .room:hover h2 {
    animation: flicker 2s infinite;
    text-shadow: 0 0 5px gray, 0 0 20px rgba(112, 10, 10, 0.2);
}

/* Cast section */
#cast {
    padding: 2rem 0;
}

#cast h1 {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2rem;
    color: var(--accent-color-primary);
    font-size: 3rem;
}

/* Text Flicker Animation */
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% { opacity: 1; }
    20%, 24%, 55% { opacity: 0; }
}
.text-flicker {
    animation: flicker 2s infinite;
    text-shadow: 0 0 5px gray, 0 0 20px darkred;
}